version: 2
jobs:
  build:
    machine: true
    
    steps:
      - checkout
      - run:
          name: "Qual a branch!?"
          command: |
            echo ${CIRCLE_BRANCH}
            echo 'export PROJECT_TEST="odroidfeeder"' >> $BASH_ENV
      - run:
          name: "Test"
          command: /bin/bash cloud/docker/build-test.sh $PROJECT_TEST
