version: 2
defaults: &defaults
  environment:
    PROJECT_TEST: odroidfeeder
    JS_SCRIPT_PATH: _scripts
    DELIVERED_APP_PATH: odroidfeeder/build/app/outputs/apk/release
only-releasable: &only-releasable
  filters:
    branches:
      only:
        - master
        - develop
        - minor
jobs:
  test:
    <<: *defaults
    docker:
      - image: rodolfoneto/dker-flutter:latest
    working_directory: ~/PROJECT_TEST
    steps:
      - checkout
      - run:
          name: "Flutter Test"
          command: |
            export
            echo "$DELIVERED_APP_PATH"
            ls -lrta
            cd $PROJECT_TEST
            flutter test
  build:
    <<: *defaults
    docker:
      - image: rodolfoneto/dker-flutter:latest
    working_directory: ~/PROJECT_TEST
    steps:
      - add_ssh_keys:
          fingerprints:
            - "15:57:cd:30:2c:b6:f3:16:7b:db:9b:fc:12:95:4a:1e"
      - checkout
      - run:
          name: "Build"
          command: |
            cd $PROJECT_TEST
            flutter build apk
   
            git_tag=$(git tag --list | tail -1 | sed 's/^v//')
            arr=( ${git_tag//./ } )
            new_tag=""
            
            if [[ "${CIRCLE_BRANCH}" == "minor" ]];
            then
              ((++arr[2]))
              new_tag=$(echo "${arr[0]}.${arr[1]}.${arr[2]}")
            fi
            if [[ "${CIRCLE_BRANCH}" == "develop" ]];
            then
              ((++arr[1]))
              arr[2]=0
              new_tag=$(echo "${arr[0]}.${arr[1]}.${arr[2]}")
            fi
            if [[ "${CIRCLE_BRANCH}" == "master" ]];
            then
              ((++arr[0]))
              arr[1]=0
              arr[2]=0
              new_tag=$(echo "${arr[0]}.${arr[1]}.${arr[2]}")
            fi
            if [[ ! -z $new_tag ]];
            then
              sed "s/^version:\ [0-9].*\.[0-9].*\.[0-9].*+[0-9].*/version:\ ${new_tag}+${CIRCLE_BUILD}/" pubspec.yaml -i
              git config user.name $CIRCLE_USERNAME
              git add .
              git commit -m "new tag"
              git tag v${new_tag}
              git push origin --tags
            else
              echo "Essa build não vai gerar tag nova"
            fi
            
      - store_artifacts:
          path: odroidfeeder/build/app/outputs/apk/release/app-release.apk
          destination: apk
      - persist_to_workspace:
          root: odroidfeeder/build/app/outputs/apk/release
          paths:
            - app-release.apk

  deploy:
    <<: *defaults
    docker:
      - image: node
    working_directory: ~/PROJECT_TEST
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: "Deploy"
          command: |
              #incrementar versão corretamente
              npm install request
              node $JS_SCRIPT_PATH/upload-app.js /tmp/workspace/app-release.apk app-release.apk
            
workflows:
  version: 2
  
  flutter_workflow:
    jobs:
      - test
      - build:
          requires:
            - test
      - deploy:
          <<: *only-releasable
          requires:
            - build
