version: 2
jobs:
  build:
    docker:
      - image: rodolfoneto/dker-flutter:latest
    working_directory: odroidfeeder/
    steps:
      - checkout
      - run:
          name: "Qual a branch!?"
          command: |
            echo ${CIRCLE_BRANCH}
            echo 'export PROJECT_TEST="odroidfeeder"' >> $BASH_ENV
            echo 'JS_SCRIPT_PATH="_scripts"' >> $BASH_ENV
            echo 'DELIVERED_APP_PATH="$PROJECT_TEST/build/app/outputs/apk/release/"' >> $BASH_ENV
      - run:
          name: "Test"
          command: flutter test
      - run:
          name: "Build"
          command: flutter build apk
  build:
    docker:
      - image: node
      - run:
          name: "Deploy"
          command: 
              npm install request
              node $JS_SCRIPT_PATH/upload-app.js ${DELIVERED_APP_PATH}app-release.apk app-release.apk
          
